In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv("/content/IMDB Dataset.csv")

In [ ]:
data.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [ ]:
data.tail()

                                                  review sentiment
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

In [ ]:
data.columns

Index(['review', 'sentiment'], dtype='object')

In [ ]:
data.isnull().any()

review       False
sentiment    False
dtype: bool

In [ ]:
data.shape

(50000, 2)

In [ ]:
data['sentiment'].value_counts()

positive    25000
negative    25000
Name: sentiment, dtype: int64

In [ ]:
#tokenization
import seaborn as sns

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
import nltk

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import LabelBinarizer
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from wordcloud import WordCloud, STOPWORDS
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize, sent_tokenize

In [ ]:
import spacy
import re, string, unicodedata
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.stem import LancasterStemmer, WordNetLemmatizer

In [ ]:
from sklearn.linear_model import LogisticRegression, SGDClassifier

In [ ]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC

In [ ]:
from textblob import TextBlob
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from bs4 import BeautifulSoup
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
#TOKENIZATION OF TEXT
tokenizers = ToktokTokenizer()

In [ ]:
#setting english stopwords
stopwords=nltk.corpus.stopwords.words('english')

In [ ]:
def noiseremoval_text(text):
  soup=BeautifulSoup(text,"html.parser")
  text=soup.get_text()
  text=re.sub('\[[^]]*\]','',text)
  return text

In [ ]:
#Apply thefunction on review column
data['review']=data['review'].apply(noiseremoval_text)

<ipython-input-76-82479bdee0c9>:2: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  soup=BeautifulSoup(text,"html.parser")

In [ ]:
data.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. The filming tec...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [ ]:
#stemming
def stemmer(text):
  ps=nltk.porter.PorterStemmer()
  text=' '.join([ps.stem(word) for word in text.split()])
  return text

In [ ]:
#Apply function on review column
data['review'] = data['review'].apply(stemmer)

In [ ]:
data.head()

                                              review sentiment
0  one of the other review ha mention that after ...  positive
1  a wonder littl production. the film techniqu i...  positive
2  i thought thi wa a wonder way to spend time on...  positive
3  basic there' a famili where a littl boy (jake)...  negative
4  petter mattei' "love in the time of money" is ...  positive

In [ ]:
from nltk.corpus import stopwords  
from nltk.tokenize import word_tokenize

In [ ]:
#set stopwords to english

stop_wr=set(stopwords.words('english'))
print(stop_wr)

{'re', 'me', 'has', 'having', 'herself', "that'll", 'yours', 'no', "you've", 'because', "aren't", "mightn't", 'at', 'more', 'these', 'shouldn', 'its', 'below', "shan't", 'doing', 'into', "hadn't", 'same', 'again', 'when', 'shan', 'until', 'before', 'they', 'being', 'while', "haven't", 'mustn', 'down', 'ours', "you'd", 'yourselves', 'but', 'you', 'once', "wouldn't", "won't", 'by', 'should', 'be', 'i', 'against', "shouldn't", 'or', 'off', 'some', 'both', 'further', 'other', 'mightn', 'my', 'ain', 'aren', 'your', "couldn't", 'where', 'theirs', 'can', 'will', 'wasn', 'o', "she's", 'weren', 'a', 'if', 'and', 'through', 'of', 'isn', 'needn', 'the', 'during', 'most', 'an', 'their', 'each', 'hasn', 'above', 'd', 'is', 'few', 'why', 'we', 'over', 'than', 't', 'between', 'y', 'any', 'only', 'themselves', 'nor', 'm', 'our', 'her', 'do', 'as', 'wouldn', 'this', 'how', 'such', "you'll", 'here', 'him', 'about', 'been', 'haven', 'didn', 'won', 'on', 'very', 'were', 'to', 'there', "isn't", 've', 'them', 'was', 'just', 'don', 'couldn', 'yourself', 'so', 'after', 'who', 'under', 'all', 'hadn', 'whom', 'now', 'it', 'am', 'did', 'up', "weren't", 'hers', 'what', "didn't", "you're", 'are', 'itself', 's', 'out', 'not', 'myself', 'ourselves', 'from', 'll', 'too', "don't", "needn't", "doesn't", "mustn't", 'have', 'himself', 'with', 'he', 'in', 'for', 'then', 'she', 'own', 'that', "should've", 'those', 'ma', 'his', "wasn't", 'does', "hasn't", "it's", 'had', 'doesn', 'which'}

In [ ]:
#removing the stopwords
def removing_stopwords(text, is_lower_case=False):
    #Tokenization of text
    tokenizers=ToktokTokenizer()
    #Setting English stopwords
    tokens = tokenizers.tokenize(text)
    tokens = [token.strip() for token in tokens]
    if is_lower_case:
        filter_tokens = [token for token in tokens if token not in stop_wr]
    else:
        filter_tokens = [token for token in tokens if token.lower() not in stop_wr]
    filtered_text = ' '.join(filter_tokens)    
    return filtered_text

In [ ]:
#Apply function on review column
data['review']=data['review'].apply(removing_stopwords)

In [ ]:
data.head()

                                              review sentiment
0  one review ha mention watch 1 oz episod ' hook...  positive
1  wonder littl production. film techniqu veri un...  positive
2  thought thi wa wonder way spend time hot summe...  positive
3  basic ' famili littl boy ( jake ) think ' zomb...  negative
4  petter mattei ' " love time money " visual stu...  positive

In [ ]:
#split the dataset  
#train dataset
train_reviews_data=data.review[:30000]

In [ ]:
#test dataset

test_reviews_data=data.review[30000:]

In [ ]:
#Count vectorizer for bag of words
cv=CountVectorizer(min_df=0,max_df=1,binary=False,ngram_range=(1,3))
#transformed train reviews
cv_train=cv.fit_transform(train_reviews_data)
#transformed test reviews
cv_test=cv.transform(test_reviews_data)

print('BOW_cv_train:',cv_train.shape)
print('BOW_cv_test:',cv_test.shape)
#vocab=cv.get_feature_names()-toget feature names

BOW_cv_train: (30000, 4954557)
BOW_cv_test: (20000, 4954557)

In [ ]:
#Tfidf vectorizer
tf=TfidfVectorizer(min_df=0,max_df=1,use_idf=True,ngram_range=(1,3))
#transformed train reviews
tf_train=tf.fit_transform(train_reviews_data)
#transformed test reviews
tf_test=tf.transform(test_reviews_data)
print('Tfidf_train:',tf_train.shape)
print('Tfidf_test:',tf_test.shape)

Tfidf_train: (30000, 4954557)
Tfidf_test: (20000, 4954557)

In [ ]:
#labeling the sentient data
label=LabelBinarizer()
#transformed sentiment data
sentiment_data=label.fit_transform(data['sentiment'])
print(sentiment_data.shape)

(50000, 1)

In [ ]:
train_data=data.sentiment[:30000]

In [ ]:
test_data=data.sentiment[30000:]

In [ ]:
#training the model
logistic=LogisticRegression(penalty='l2',max_iter=500,C=1,random_state=42)
#Fitting the model for Bag of words
lr_bow=logistic.fit(cv_train,train_data)
print(lr_bow)
#Fitting the model for tfidf features
lr_tfidf=logistic.fit(tf_train,train_data)
print(lr_tfidf)

LogisticRegression(C=1, max_iter=500, random_state=42)
LogisticRegression(C=1, max_iter=500, random_state=42)

In [ ]:
#Predicting the model for bag of words
lr_bow_predict=logistic.predict(cv_test)
print(lr_bow_predict)

['negative' 'negative' 'negative' ... 'negative' 'positive' 'positive']

In [ ]:
##Predicting the model for tfidf features
lr_tfidf_predict=logistic.predict(tf_test)
print(lr_tfidf_predict)

['negative' 'negative' 'negative' ... 'negative' 'positive' 'positive']

In [ ]:
#Accuracy score for bag of words
lr_bow_score=accuracy_score(test_data,lr_bow_predict)
print("lr_bow_score :",lr_bow_score)

lr_bow_score : 0.74255

In [ ]:
#Accuracy score for tfidf features
lr_tfidf_score=accuracy_score(test_data,lr_tfidf_predict)
print("lr_tfidf_score :",lr_tfidf_score)

lr_tfidf_score : 0.7426